{% extends "pattern.html" %}

  {% block content %}
    {{ error }}   


    <div class="container">

      <div class="row">
        <div class="col-sm-4">
          <div class="container">
            
            {% include 'left_column_pattern.html' %}

          </div>
        </div>
        <div class="col-sm-8">
          <div class="container">

            <p>
              <h4>Обращение к авторам и владельцам авторских прав на книги.</h4>
            </p>
            <p>
              Наша цель, как создателей информационно-билиотечной системы, сделать ее удобной для пользователей и при этом полностью легальной, не нарушающей ничьих авторских прав. Если у вас имеются претензии касательно размещенного контента в библиотеке, пожалуйста, сразу обращайтесь на e-mail Lobanovka@studgkl.ru
Все письма читаются и вопросы оперативно решаются. Не нужно ничего изобретать и никуда жаловаться - просто напишите и мы всё уладим в самый короткий срок.
            </p>

          </div>
        </div>
    </div>

    </div>

    


  {% endblock %}

  